@media (min-width: 992px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media (max-width: 992px) {

}

@media (min-width: 992px) {
  .twopage{
    height: 80px;!important;

  }
}
.background{
  background-image: url("250.jpg");
}
.items{


}
.item{
  vertical-align: top;
  display: inline-block;
text-align: left;
  width: 285px;
  height: 450px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right:25px ;


}
.head{
  text-align: center;
  color: #000000;
      font-size: 18px;

    font-weight: bold;
    margin: 0 0 20px 0;
}
.body{
  color: #000000;
      font-size: 14px;
}